
.zhifu{margin:70px auto;width: 1226px;text-align: center;}

.zhifudd{border: 1px #FF26C9 solid;width: 250px;height: 250px;margin: 0px auto;}
.ddzf{color: red;}

.teo-code{width: 100%;height: 100%;}











