<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tefg.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.tefg.pojo.User">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="question" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="answer" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rele" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, email, phone, question, answer, rele, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tefg_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tefg_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tefg.pojo.User">
    insert into tefg_user (id, username, password, 
      email, phone, question, 
      answer, rele, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{rele,jdbcType=INTEGER}, now(),
     now())
  </insert>
  <insert id="insertSelective" parameterType="com.tefg.pojo.User">
    insert into tefg_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="rele != null">
        rele,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="rele != null">
        #{rele,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tefg.pojo.User">
    update tefg_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="rele != null">
        rele = #{rele,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tefg.pojo.User">
    update tefg_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      rele = #{rele,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!-- todo 一下都是自己写的-->

  <!-- 检查用户是否存在-->
  <select id="checkUsername" resultType="int" parameterType="java.lang.String">
        select count(1) from  tefg_user where username = #{username}
  </select>
  <!--检查邮箱是否被使用 -->
  <select id="checkEmail" resultType="int" parameterType="string">
       select count(*) from  tefg_user where email = #{email}
  </select>
  <!--登录-->
  <select id="selectLogin" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from tefg_user
    where  username=#{userName}  and  password=#{passWord}
  </select>

  <!--登录-->
  <select id="queryUserLogin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tefg_user
    where  username=#{username}  and  password=#{password}
  </select>

  <!--获取问题-->
  <select id="selectQuestionByUsername" resultType="string" parameterType="string">
      select question
      from tefg_user
      where  username=#{username}
  </select>

  <!--校验问题答案-->
  <select id="checkAnswer" resultType="int" parameterType="map">
    select count(*)
    from tefg_user
    where username=#{username} and question=#{questiong} and answer=#{answer}
  </select>

  <!--修改密码-->
<update id="updatePasswordNew" parameterType="map">
  update  tefg_user
  set  password=#{pwd},update_time=now()
  where username=#{name}
</update>

  <!--检验密码是否跟当前用户是一致-->
  <select id="checkPassword" resultType="int" parameterType="map">
     select
     count (1)
     from tefg_user
     where id=#{id}
     and password=#{pwd}
  </select>

  <!--检查是否正在使用-->
  <select id="checkEmailByUserId" resultType="int" parameterType="map">
    select
    count (1)
    from tefg_user
    where  email=#{email} and  id!=#{id}
  </select>

  <select id="queryPageList" resultMap="BaseResultMap">
      select * from tefg_user
      <where>
        <if test="queryTest!=null">username like concat("%",#{queryTest},"%")</if>
      </where>
    limit #{startIndex},#{pagesize}
  </select>

  <select id="queryCount" resultType="int">
    select count(*) from tefg_user
    <where>
      <if test="queryTest!=null">username like concat("%",#{queryTest},"%")</if>
    </where>
  </select>

</mapper>